.qs div {
  margin-top: 1%;
  font-family: "Spartan", sans-serif;
  font-size: medium;
  padding: 5px;
  background-color: lightblue;
  color: black;
}
.qs h2 {
  font-family: "Roboto Slab", serif;
  color: #001e1e;
}
.qs button {
  width: 50%;
  height: 40px;
  font-size: 70%;
  font-family: "Spartan", sans-serif;
  margin-bottom: 2px;
  background-color: aqua;
  border-radius: 10px;
}
.qs button:hover {
  cursor: pointer;
}
